<app-spinner *ngIf="spinner"></app-spinner>

<table *ngIf="visible" class="espacio-trabajo centrar-texto" cellpadding="7">
  <tr class="fuente-pequeña">
    <th>Espacio</th>
    <th>Submódulo</th>
    <th>Colaborador</th>
    <th>Fecha de inicio</th>
    <th>Fecha de fin</th>
  </tr>
  <tr *ngFor="let item of Usuario.datosReserva" class="fuente-cuerpo-tabla borde-tabla">
    <td><button (click)="mostrarReserva(item.id_reserva)" matTooltip="Consultar unidad"
      class="boton-enlace fuente-link color-basico-magenta fusion-invertida">{{ item.nombre_unidad_organizacional
      }}</button></td>
    <td>{{ item.nombre_submodulo }}</td>
    <td>{{ item.nombre_usuario_colaborador }}</td>
    <td>{{ item.fecha_inicio_reserva.slice(0, -9) }}</td>
    <td>{{ item.fecha_fin_reserva.slice(0, -9) }}</td>
  </tr>
</table>

<form [formGroup]="crearreserva" class="formulario-estandar fondo-neutro-gris2 color-neutro-gris5" [ngStyle]="{'display':verFormCrear}">
  <div class="fila">
    <div>
      <div class="centrar-fila">
        <label class="fuente-pequeña">Fecha de inicio(*):</label>
        <input type="date" class="entrada-texto fondo-basico-blanco" formControlName="fechainicio" min="2023-06-18">
      </div>
      <span *ngIf="crearreserva.get('fechainicio')?.hasError('required') && crearreserva.get('fechainicio')?.touched"
          class="fuente-pequeña mb-6 centrar-fila color-alerta-rojo">Este campo es requerido</span>
    </div>
    <div>
      <div class="centrar-fila">
        <label class="fuente-pequeña">Fecha de finalización(*):</label>
        <input type="date" class="entrada-texto fondo-basico-blanco" formControlName="fechafin" min="2023-06-18">
      </div>
      <span *ngIf="crearreserva.get('fechafin')?.hasError('required') && crearreserva.get('fechafin')?.touched"
          class="fuente-pequeña mb-6 centrar-fila color-alerta-rojo">Este campo es requerido</span>
    </div>
  </div>
  <div class="fila">
    <div>
      <div class="centrar-fila">
        <label class="fuente-pequeña">Hora de inicio(*):</label>
        <mat-form-field appearance="fill" class="centrar-select">
          <mat-select formControlName="horainicio">
            <mat-option *ngFor="let item of horainicial" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div class="centrar-fila">
        <label class="fuente-pequeña">Hora de finalización(*):</label>
        <mat-form-field appearance="fill" class="centrar-select">
          <mat-select formControlName="horafin">
            <mat-option *ngFor="let item of horafinal" [value]="item.value">
              {{item.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Tipo de unidad:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="tipo">
          <mat-option *ngFor="let item of cbtipoespacio" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Sede:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="sede">
          <mat-option *ngFor="let item of sedes" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Programa:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="programa">
          <mat-option *ngFor="let item of cbprograma" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Nivel:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="nivel">
          <mat-option *ngFor="let item of cbniveles" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Grupo:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="grupo">
          <mat-option *ngFor="let item of cbgrupos" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Submódulo:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="submodulo">
          <mat-option *ngFor="let item of cbsubmodulo" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Usuario:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="usuariopersona">
          <mat-option *ngFor="let item of cbusuarios" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Estado:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="estado">
          <mat-option value="disponible">{{ 'Disponible' | uppercase}}</mat-option>
          <mat-option value="reservado">{{'Reservado' | uppercase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-columna">
      <div class="centrar-fila">
        <label class="fuente-pequeña">Dia:</label>
        <mat-form-field appearance="fill" class="centrar-select">
          <mat-label>Dia de la semana</mat-label>
          <mat-select formControlName="dia" multiple>
            <mat-option *ngFor="let item of semana" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <span *ngIf="crearreserva.get('dia')?.hasError('required') && crearreserva.get('dia')?.touched"
          class="fuente-pequeña mb-6 centrar-fila color-alerta-rojo">Este campo es requerido</span>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Característica:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="caracteristica">
          <mat-option *ngFor="let item of cbcaracteristicas" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Capacidad mínima:</label>
      <input class="entrada-texto fondo-basico-blanco" min="1" formControlName="capacidad" type="number">
      <span *ngIf="crearreserva.get('capacidad')?.hasError('required') && crearreserva.get('capacidad')?.touched"
          class="fuente-pequeña mb-6 centrar-fila color-alerta-rojo">La capacidad debe ser mínimo: 1</span>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Encargado:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="encargado">
          <mat-option *ngFor="let item of cbencargado" [value]="item.value">
            {{item.label.toUpperCase()}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Observaciones:</label>
      <textarea class="caja entrada-texto fondo-basico-blanco" formControlName="observaciones" placeholder="Observaciones"></textarea>
    </div>
  </div>
  <div class="centrar-fila mb-6">
    <button (click)="buscarEspacios()" class="icono icono-buscar contorno-nulo fusion-boton" matTooltip="Buscar unidades disponibles"></button>
  </div>
  <div class="centrar-fila mt-6">
    <mat-form-field appearance="fill" class="centrar-select">
      <mat-select formControlName="disponibles">
        <mat-option *ngFor="let item of listaUnidades" [value]="item.value">
          {{item.label.toUpperCase()}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Boton para crear la reserva -->
  <div class="centrar-fila boton-crear mt-6">
    <button (click)="actualizarReserva()" class="fondo-basico-magenta contorno-nulo mt-6 color-basico-blanco boton-principal fusion-boton">Crear</button>
 </div>
</form>
