<div *ngIf="volver" class="centrar-fila mb-6">
  <button (click)="regresar()" class="icono icono-regresar contorno-nulo fusion-boton" matTooltip="Regresa a la vista de consulta"></button>
</div>

<div *ngIf="mostrarCrear">
  <div *ngIf="Usuario.permisos?.agregar === 'si'" class="centrar-fila mb-6">
    <button (click)="iniciarCrear()" class="fondo-basico-magenta contorno-nulo mt-6 color-basico-blanco boton-principal fusion-boton">Crear característica</button>
  </div>
</div>

<div class="centrar-fila mt-6 responsivo">

  <div *ngIf="busqueda">
    <form class="centrar-columna" [formGroup]="buscar">
      <div class="centrar mb-6 fuente-pequeña separacion-radio">
        <input type="radio" formControlName="filtro" value="nombre"><label class="centrar">Característica</label>
        <input type="radio" formControlName="filtro" value="estado"><label class="centrar">Estado</label>
      </div>
      <div class="centrar-fila mt-6 fuente-pequeña">
        <label>Buscar:</label>
        <input class="entrada-texto fondo-neutro-gris2" formControlName="entrada">
        <button (click)="buscarCaracteristica()" class="icono icono-buscar contorno-nulo fusion-boton" matTooltip="Busca una característica con las coincidencias 
                de los caracteres que se ingresen en el campo de texto, si se deja vacio: trae todos los registros por defecto, para el caso del filtro estado,
                se debe escribir activo o inactivo completamente para que funcione.
                Nota: No distingue combinar mayúsculas y minúsculas"></button>
      </div>
    </form>
    <table *ngIf="verbuscar" class="espacio-trabajo centrar-texto" cellpadding="7">
      <tr class="fuente-pequeña">
        <th>Nombre</th>
        <th>Estado</th>
        <th *ngIf="Usuario.permisos?.modificar === 'si'">Editar</th>
        <th *ngIf="Usuario.permisos?.eliminar === 'si'">Eliminar</th>
      </tr>
      <tr *ngFor="let item of this.Usuario.datosCaracteristica" class="fuente-cuerpo-tabla borde-tabla">
        <td>{{ item.nombre_caracteristica }}</td>
        <td [ngClass]="{'color-alerta-verde':item.estado_caracteristica==='Activo','color-alerta-amarillo':item.estado_caracteristica==='Inactivo'}">{{ item.estado_caracteristica }}</td>
        <td *ngIf="Usuario.permisos?.modificar === 'si'" class="espacio-pequeño">
          <button (click)="mostrarCaracteristica(item.id_caracteristica)" class="icono icono-editar contorno-nulo fusion-boton" matTooltip="Dirige a la vista de edición"></button>
        </td>
        <td *ngIf="Usuario.permisos?.eliminar === 'si'" class="espacio-pequeño">
          <button (click)="eliminarCaracteristica(item.id_caracteristica)" class="icono icono-eliminar contorno-nulo fusion-boton" matTooltip="Elimina una característica,
                  no funciona si la característica ya tiene algun registro asociado"></button>
        </td>
      </tr>
    </table>
  </div>

  <form *ngIf="vereditar" [formGroup]="actualizar" class="formulario-estandar fondo-neutro-gris2 color-neutro-gris5 mb-6">
    <div class="centrar-fila mb-6">
      <h2 class="centrar-texto fuente-grande">{{ txtformulario }} característica:</h2>
    </div>
    <input type="hidden" formControlName="idactualizar">
    <div class="centrar-fila tamaño-input">
      <label class="fuente-pequeña">Característica:</label>
      <input class="entrada-texto fondo-basico-blanco" formControlName="nombreactualizar">
      <button class="icono-ayuda icono contorno-nulo fusion-boton" matTooltip="Nombre de la característica que puede tener una unidad organizacional,
              no puede existir dos características con el mismo nombre"></button>
      <img *ngIf="chequeo" class="icono icono-validar" [src]='urlimagen'>
    </div>
    <span *ngIf="actualizar.get('nombreactualizar')?.hasError('required') && actualizar.get('nombreactualizar')?.touched"
          class="fuente-pequeña mb-6 campo-requerido color-contraste-amarillo">Este campo es requerido</span>
    <div class="centrar-fila tamaño-input">
      <label class="fuente-pequeña">Estado:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="estadoactualizar">
          <mat-option value="activo">{{'activo'.toUpperCase()}}</mat-option>
          <mat-option value="inactivo">{{'inactivo'.toUpperCase()}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="icono-ayuda icono contorno-nulo fusion-boton" matTooltip="Estado inicial en el que se encuentra la característica,
              activo: puede usarse para asignarse a una unidad, inactivo: se oculta y no se puede asignar a una unidad."></button>
    </div>
    <div class="centrar-fila">
      <button (click)="actualizarCaracteristica()" class="fondo-basico-magenta contorno-nulo mt-6 color-basico-blanco boton-principal fusion-boton">{{ txtboton }}</button>
    </div>
  </form>

</div>