<div class="centrar-fila mb-3">
  <div class="centrar-fila">
    <div class="centrar-fila">
      <label class="fuente-pequeña">Sede:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select [(ngModel)]="sede" name="sede">
          <mat-option *ngFor="let item of sedes" [value]="item.value">
            {{item.label}}
          </mat-option>           
        </mat-select>
      </mat-form-field>
    </div>
    <div class="centrar-fila">
      <label class="fuente-pequeña">Mes:</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select [(ngModel)]="mes" name="mes">
          <mat-option *ngFor="let item of meses" [value]="item.value" class="fuente-pequeña">
            {{item.label}}
          </mat-option>           
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="centrar-fila">
    <button class="icono icono-buscar contorno-nulo fusion-boton icono2" (click)="mostrarLista(1)" matTooltip="Ocupación"></button>
    <button class="icono icono-buscar contorno-nulo fusion-boton icono2" (click)="mostrarLista(2)" matTooltip="Tipos de unidad"></button>
    <button class="icono icono-buscar contorno-nulo fusion-boton icono2" (click)="mostrarLista(3)" matTooltip="Programas"></button>
    <button class="icono icono-buscar contorno-nulo fusion-boton icono2" (click)="mostrarLista(4)" matTooltip="Usuarios"></button>
  </div>
</div>

<div *ngIf="reportes != ''" class="centrar-fila">
  <table class="espacio-trabajo centrar-texto" [cellPadding]="10">
    <tr class="fuente-pequeña">
      <th>Informe</th>
      <th>Gráfico</th>
      <!-- <th>Excel</th> -->
    </tr>
    <tr class="fuente-cuerpo-tabla borde-tabla">
    <tr *ngFor="let reporte of reportes" class="fuente-cuerpo-tabla borde-tabla">
      <td class="texto-izquierda1">{{ reporte.label }}</td>
      <td>
        <button class="icono icono-graficar contorno-nulo fusion-boton" (click)="mostrarGrafico(reporte.value)" matTooltip="Ver grafico"></button>
      </td>
      <!--
      <td>
        <button class="icono icono-excel contorno-nulo fusion-boton" (click)="descargarReporte(reporte.value)" matTooltip="Descargar excel"></button>
      </td>
      -->
    </tr>
  </table>
</div>