.footer{
  background-color: var(--neutro-gris2);
  font-family: Montserrat-Regular;
  padding: 1em 0;
  text-align: center;
  font-size: small;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.espacio{
  height: 30px;
}

@media (max-width: 500px) {
  .espacio{
    width: 100%;
  }
}