<div class="centrar color-neutro-gris5">
  <form [formGroup]="miFormulario" class="centrar-columna">
    <!-- RadioButtons -->
    <div (change)="cambioRadio()" class="centrar mb-6 fuente-pequeña separacion-radio">
      <input formControlName="radioButton" type="radio" value="unidad_organizacional">
      <label class="centrar">Unidad organizacional</label>
      <input formControlName="radioButton" type="radio" value="submodulo">
      <label class="centrar">Submodulo</label>
      <input formControlName="radioButton" type="radio" value="usuario">
      <label class="centrar">Usuario</label>
    </div>

    <!-- ComboBox tipos de espacio fisico -->
    <div *ngIf="vertipoespacio" class="centrar-fila">
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="tipoespacio">
          <mat-option *ngFor="let item of comboBox1" [value]="item.value" (onSelectionChange)="filtrarUnidadportipo()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Unidades organizacionales filtradas por tipos de espacio fisico -->
    <div *ngIf="versubmodulo" class="centrar-fila">
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="submodulo">
          <mat-option *ngFor="let item of comboBox" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Unidades organizacionales filtradas por tipos de espacio fisico -->
    <div *ngIf="verunidad" class="centrar-fila">
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="unidadorganizacional">
          <mat-option *ngFor="let item of comboBox2" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<table *ngIf="visible" class="espacio-trabajo centrar-texto" cellpadding="7">
  <tr class="fuente-pequeña">
    <th>Unidad</th>
    <th>Submódulo</th>
    <th>Usuario</th>
    <th>Fecha de inicio</th>
    <th>Fecha de fin</th>
    <th>Día</th>
    <th>Hora de inicio</th>
    <th>Hora de fin</th>
  </tr>
  <tr *ngFor="let item of Usuario.datosReserva" class="fuente-cuerpo-tabla borde-tabla">
    <td>{{ item.nombre_unidad_organizacional }}</td>
    <td>{{ item.nombre_submodulo }}</td>
    <td>{{ item.nombre_usuario }}</td>
    <td>{{ item.fecha_inicio_reserva }}</td>
    <td>{{ item.fecha_fin_reserva }}</td>
    <td>{{ item.reservaDias[0].reserva_dia_dia }}</td>
    <td>{{ item.reservaDias[0].reserva_dia_hora_inicio }}</td>
    <td>{{ item.reservaDias[0].reserva_dia_hora_fin }}</td>
  </tr>
</table>
