<app-spinner *ngIf="spinner"></app-spinner>

<div class="centrar color-neutro-gris5" [ngStyle]="{'display':verFormConsulta}">
  <form [formGroup]="buscar" class="centrar-columna">
    <div class="centrar-fila">
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="sede">
          <mat-option *ngFor="let item of cmbSedes" [value]="item.value" (onSelectionChange)="mostrarEspacios()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <label class="fuente-pequeña mt-3">Espacios:</label>
    <div class="centrar-fila">
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="espacios">
          <mat-option *ngFor="let item of cmbEspacios" [value]="item.id_unidad_organizacional" (onSelectionChange)="obtenerIdReserva(item.id_unidad_organizacional)">
            {{ item.nombre_unidad_organizacional.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="centrar-fila mt-3 fuente-pequeña">
      <button (click)="buscarReserva()" class="icono icono-buscar contorno-nulo fusion-boton" matTooltip="Buscar resreva en este espacio"></button>
    </div>
  </form>
</div>

<table *ngIf="visible" class="espacio-trabajo centrar-texto" cellpadding="7">
  <tr class="fuente-pequeña">
    <th *ngFor="let item of semana">{{ item }}</th>
  </tr>
  <tr *ngFor="let item of objReserva; let i = index" class="fuente-cuerpo-tabla borde-tabla color-alerta-verde">
    <td>{{ hora[i] }}</td>
    <td *ngIf="item[0] === 0">Libre</td>
    <td *ngIf="item[0] != 0" [ngClass]="{'color-alerta-rojo':item[0] != 0}">Reservado</td>
    <td *ngIf="item[1] === 0">Libre</td>
    <td *ngIf="item[1] != 0" [ngClass]="{'color-alerta-rojo':item[1] != 0}">Reservado</td>
    <td *ngIf="item[2] === 0">Libre</td>
    <td *ngIf="item[2] != 0" [ngClass]="{'color-alerta-rojo':item[2] != 0}">Reservado</td>
    <td *ngIf="item[3] === 0">Libre</td>
    <td *ngIf="item[3] != 0" [ngClass]="{'color-alerta-rojo':item[3] != 0}">Reservado</td>
    <td *ngIf="item[4] === 0">Libre</td>
    <td *ngIf="item[4] != 0" [ngClass]="{'color-alerta-rojo':item[4] != 0}">Reservado</td>
    <td *ngIf="item[5] === 0">Libre</td>
    <td *ngIf="item[5] != 0" [ngClass]="{'color-alerta-rojo':item[5] != 0}">Reservado</td>
  </tr>
</table>
    <!-- 
    <div (change)="cambioRadio()" class="centrar mb-6 fuente-pequeña separacion-radio">
      <input formControlName="radioButton" type="radio" value="unidad_organizacional">
      <label class="centrar">Unidad organizacional</label>
      <input formControlName="radioButton" type="radio" value="unidad_academica">
      <label class="centrar">Unidad academica</label>
      <input formControlName="radioButton" type="radio" value="unidades">
      <label class="centrar">Escuela, Colegios, Extension</label>
      <input formControlName="radioButton" type="radio" value="area">
      <label class="centrar">Area</label>
      <input formControlName="radioButton" type="radio" value="jornada">
      <label class="centrar">Jornada</label>
      <input formControlName="radioButton" type="radio" value="submodulo">
      <label class="centrar">Submodulo</label>
      <input formControlName="radioButton" type="radio" value="usuario">
      <label class="centrar">Usuario</label>
    </div>

    <div *ngIf="verComboBoxSede" class="centrar-fila">
      <label class="">Sede</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="unidadOrganizacional">
          <mat-option *ngFor="let item of comboBoxSede" [value]="item.value" (onSelectionChange)="filtrarUnidadportipo()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verTipoAulas" class="centrar-fila">
      <label class="">Tipos de aulas</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="tipos_aula">
          <mat-option *ngFor="let item of comboBox2" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verAulas" class="centrar-fila">
      <label class="">Aulas</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="aulas">
          <mat-option *ngFor="let item of comboBox3" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verConvenios" class="centrar-fila">
      <label class="">Convenios</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="unidadorganizacional1">
          <mat-option *ngFor="let item of comboBox4" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verProgramas" class="centrar-fila">
      <label class="">Programas</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="programas">
          <mat-option *ngFor="let item of comboBox5" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verArea" class="centrar-fila">
      <label class="">Area</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="area">
          <mat-option *ngFor="let item of comboBox6" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verDiaInicio" class="centrar-fila">
      <label class="">Dia Inicio</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="diaInicio">
          <mat-option *ngFor="let item of comboBox7" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verJornada" class="centrar-fila">
      <label class="">Jornada</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="jornada">
          <mat-option *ngFor="let item of comboBox7" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="verJornada" class="centrar-fila">
      <label class="">Nombre Usuario</label>
      <mat-form-field appearance="fill" class="centrar-select">
        <mat-select formControlName="usuario">
          <mat-option *ngFor="let item of comboBox7" [value]="item.value" (onSelectionChange)="buscarReserva()">
            {{ item.label.toUpperCase() }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<table *ngIf="visible" class="espacio-trabajo centrar-texto" cellpadding="7">
  <tr class="fuente-pequeña">
    <th>Unidad</th>
    <th>Submódulo</th>
    <th>Usuario</th>
    <th>Fecha de inicio</th>
    <th>Fecha de fin</th>
    <th>Día</th>
    <th>Hora de inicio</th>
    <th>Hora de fin</th>
  </tr>
  <tr *ngFor="let item of Usuario.datosReserva" class="fuente-cuerpo-tabla borde-tabla">
    <td>{{ item.nombre_unidad_organizacional }}</td>
    <td>{{ item.nombre_submodulo }}</td>
    <td>{{ item.nombre_usuario }}</td>
    <td>{{ item.fecha_inicio_reserva }}</td>
    <td>{{ item.fecha_fin_reserva }}</td>
    <td>{{ item.reservaDias[0].reserva_dia_dia }}</td>
    <td>{{ item.reservaDias[0].reserva_dia_hora_inicio }}</td>
    <td>{{ item.reservaDias[0].reserva_dia_hora_fin }}</td>
  </tr>
</table>
-->

