<div class="centrar-fila-cabecera">
  <div class="fila-inicio">
    <img src="../../../assets/img/logos/cesde_magenta.jpg">
  </div>
  <div *ngIf="Usuario.funcionalidadActiva != ''" class="centrar-fila centrar-texto">
    <h2 class="color-basico-gris0 fuente-extragrande">{{ Usuario.funcionalidadActiva?.toUpperCase() }}</h2>
  </div>
  <div *ngIf="nombreUsuario.length != 0" class="fila">
    <div class="nombre-persona">
      <p class="color-basico-gris0 fuente-mediana ancho">
        {{ nombreUsuario }}
      </p>
    </div>
    <img src="../../../assets/img/iconos/usuario.svg">
  </div>
</div>
